.sideButton {
  background-color: #0a0a23;
  margin-left: 30px;
  margin-top: 2%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
.sideButton:hover {
  background-color: #00d9ff;
}
/* Alin CSS */
.header {
  text-align: center;
  color: white;
  font-size: 30px;
  height: 70px;
  background-color: #b19994;
  overflow: auto;
  display: flex;
}
.titleA {
  float: right;
  width: 70%;
}
.btnHeader {
  background-color: #b19994; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btnHeader:hover {
  opacity: 50%;
}
.btnArea {
  width: 30%;
  float: left;
}
.footer {
  height: 15px;
  background-color: #937666;
}
.mainA {
  display: flex;
  flex: 1;
  min-height: 704px;
  height: auto;
}
.searchBar {
  margin-top: 10px;
}
.input {
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
  outline: none;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  color: #937666;
}
.buttonSearch {
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s box-shadow;
  outline: none;
  border-radius: 10px;
  height: 50px;
  margin-left: 10px;
  text-align: center;
  color: #937666;
}
.bookList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imgA {
  height: 150px;
}
.book {
  background-color: #eff1ed;
  width: 150px;
  height: auto;
  text-align: center;
  border-style: solid;
  border-color: #b19994;
  color: #937666;
  padding-right: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.pagination {
  display: inline-block;
}

.pagination button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  border: 1px solid;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #b19994;
}
.center {
  text-align: center;
}
/*Oana*/
body {
  margin: 0;
  width: 100%;
}

.containerOana {
  display: grid;
  grid-template-rows: 10% 70% auto 10%;
  grid-template-columns: 30% auto;
  grid-template-areas:
    'header header'
    'searchOana mainPage'
    'back mainPage'
    'footer footer';
  width: 100vw;
  height: 100vh;
}

.headerOana {
  grid-area: header;
  background-color: rgb(169, 210, 248);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainPage {
  grid-area: mainPage;
  overflow: auto;
}
.seachOana {
  grid-area: searchOana;
  overflow: hidden;
}
.footerOana {
  grid-area: footer;
  background-color: rgb(169, 210, 248);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.main {
  grid-area: back;
  overflow: hidden;
}
.inputO {
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 10px;
  height: 25px;
  text-align: center;
}
.buttonS {
  border-radius: 10px;
  height: 30px;
  width: 80px;
  margin-left: 40px;
  text-align: center;
}
.div-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container li {
  float: left;
  text-align: center;
  list-style: none;
  margin-right: 10px;
  width: 40px;
  height: 20px;
  border: 1px solid grey;
  font-size: 18px;
  cursor: pointer;
}
.page-number:hover {
  background-color: #b6eaf3;
}
